@using EmployeeApp.ViewModels;
@using System.Globalization;


@model EmployeeIndexViewModel

@{
    ViewData["Title"] = "Список співробітників";
}
<h2>Список співробітників</h2>


<div class="my-2 ">
    <form method="get" asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center ">
        
        <span>Компанія</span>
        <div class="col-12 ">
            <label class="visually-hidden" for="Company">Компанія:</label>

            <select name="companyId" id="Company" class="form-select ">
                <option selected>Всі</option>
                @foreach (var company in Model.Companies)
                {
                    <option selected="@(company.Id == Model.CompanyId)" value="@company.Id">@company.Name</option>
                }
            </select>
        </div>

        <span>Відділ</span>
        <div class="col-12">
            <label class="visually-hidden" for="Department">Відділ:</label>
            <select name="departmentId" id="Department" class="form-select">
                <option selected>Всі</option>
                @foreach (var department in Model.Departments)
                {
                    <option selected="@(department.Id == Model.DepartmentId)" value="@department.Id">@department.Name</option>
                }
            </select>
        </div>

        <span>Посада</span>
        <div class="col-12">
            <label class="visually-hidden" for="Position">Посада:</label>
            <select name="positionId" id="Position" class="form-select">
                <option selected>Всі</option>
                @foreach (var position in Model.Positions)
                {
                    <option selected="@(position.Id == Model.PositionId)" value="@position.Id">@position.Name</option>
                }
            </select>
        </div>

        <div class="col-12">
            <div class="input-group" style="margin: 0 190px 0 0;">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.SearchString"  name="searchString" placeholder="Пошук за ПІБ, адресою, телефоном">
            </div>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Пошук</button>
            <a asp-action="Index" asp-controller="Employee" class="btn btn-dark">Скасувати</a>
        </div>
    </form>
</div>



<p class="my-3">
    <a asp-action="Create">Додати нового співробітника</a>
</p>
<table class="table w-100">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Employees.First().Id)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.First().FullName)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.First().Address)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.First().Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.First().BirthDate)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.First().HireDate)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.First().Salary)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.First().Department)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.First().Position)</th>
            <th>@Html.DisplayNameFor(model => model.Employees.First().Company)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FullName</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td>@item.BirthDate.ToShortDateString() (@(DateTime.Now.Year - item.BirthDate.Year))</td>
                <td>@item.HireDate.ToShortDateString() (@(DateTime.Now.Year - item.HireDate.Year))</td>
                <td>@item.Salary.ToString("C2", new CultureInfo("uk-UA"))</td>
                <td>@item.Department.Name</td>
                <td>@item.Position.Name</td>
                <td>@item.Company.Name</td>
                <td>
                    <div class="d-flex justify-content-end">
                        <a asp-action="Edit" asp-controller="Employee" asp-route-id="@item.Id" class="btn btn-primary me-2">Редагувати</a>
                        <form asp-controller="Employee" asp-action="Delete" method="post" asp-route-id="@item.Id">
                            <input type="submit" value="Звільнити" class="btn bg-danger text-white" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table> 